<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Management{% endblock %}</title>

    {% load static %}
</head>
<body>
    <header><li><a href="">Hotels</a></li>
                <li><a href="">Rooms</a></li>
        <nav>
            <ul>



            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Your Company Name. All Rights Reserved.</p>
    </footer>


</body>
</html>