<!--hotel/templates/hotel/hotel_detail.html-->
<h1>{{ hotel.name }}</h1>
<a href="{% url 'hotel:index' %}">Back to List</a>
<!-- Uncomment the image if you have a hotel image -->
<!-- <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="hotel-image"> -->
<p>{{ hotel.description }}</p>
<p><strong>Address:</strong> {{ hotel.address }}</p>
<p><strong>Contact:</strong> {{ hotel.mobile }}</p>
<p><strong>Email:</strong> {{ hotel.email }}</p>

<!-- Rooms Section -->
<h2>Available Rooms</h2>
{% if rooms %}
    {% for room in rooms %}
        <div class="room-detail">
            <h3>{{ room.room_type.type }}</h3>
            <p>Room Number: {{ room.room_number }}</p>
            <p>Price: {{ room.room_type.price }}</p>
            <p>Number of Beds: {{ room.room_type.number_of_beds }}</p>
            <p>Capacity: {{ room.room_type.room_capacity }}</p>
            <a href="{% url 'hotel:booking' room.id %}" class="btn btn-primary">Book Now</a>
            <!-- Link to Room Type Detail -->
            <a href="{% url 'hotel:room_type_detail' hotel.slug room.room_type.slug %}" class="btn btn-secondary">View Room Type Details</a>
        </div>
    {% endfor %}
{% else %}
    <p>No rooms available for hotel "{{ hotel.name }}".</p>
{% endif %}