{% extends "hotel/base.html" %}

{% block content %}
<h1>Available Rooms</h1>

{% if rooms %}
    <ul>
        {% for room in rooms %}
            <li>
                <h2>{{ room.room_type.type }} -[ {{ room.hotel.name }}]</h2>
                <p>Room Number: {{ room.room_number }}</p>
                <p>Price: {{ room.price }}</p>
                <p>Status: {% if room.is_available %} Available {% else %} Not Available {% endif %}</p>
                <a href="{% url 'hotel:booking' room.id %}" class="btn btn-primary">Book Now</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rooms available at the moment.</p>
{% endif %}
{% endblock %}